[submodule "submodules/ChaosPresets.References"]
	path = submodules/ChaosPresets.References
	url = ../ChaosPresets.References
[submodule "submodules/ChaosPresets.Targets"]
	path = submodules/ChaosPresets.Targets
	url = ../ChaosPresets.Targets
